<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Examples Web Application</display-name>
  <servlet>
    <servlet-name>CookieCounterServlet</servlet-name>
    <servlet-class>examples.servlets.CookieCounterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>examples.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloWorldPostedServlet</servlet-name>
    <servlet-class>examples.servlets.HelloWorldPostedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemLeakServlet</servlet-name>
    <servlet-class>examples.servlets.MemLeakServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>examples.servlets.SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>examples.servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OvrwrtSessionSvlt</servlet-name>
    <servlet-class>examples.servlets.OvrwrtSessionSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleLoadServlet</servlet-name>
    <servlet-class>examples.servlets.SimpleLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoScavenge</servlet-name>
    <servlet-class>test.servlets.DoScavenge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoGCServlet</servlet-name>
    <servlet-class>examples.servlets.DoGCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoFinalizeServlet</servlet-name>
    <servlet-class>examples.servlets.DoFinalizeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnicodeTestServlet</servlet-name>
    <servlet-class>examples.servlets.UnicodeTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StackOverFlowSvlt</servlet-name>
    <servlet-class>examples.servlets.StackOverFlowSvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieCounterServlet</servlet-name>
    <url-pattern>/CookieCounterServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloWorldPostedServlet</servlet-name>
    <url-pattern>/HelloWorldPostedServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemLeakServlet</servlet-name>
    <url-pattern>/MemLeakServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OvrwrtSessionSvlt</servlet-name>
    <url-pattern>/OvrwrtSessionSvlt/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleLoadServlet</servlet-name>
    <url-pattern>/SimpleLoadServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoScavenge</servlet-name>
    <url-pattern>/DoScavenge/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoGCServlet</servlet-name>
    <url-pattern>/DoGCServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFinalizeServlet</servlet-name>
    <url-pattern>/DoFinalizeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnicodeTestServlet</servlet-name>
    <url-pattern>/UnicodeTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StackOverFlowSvlt</servlet-name>
    <url-pattern>/StackOverFlowSvlt/*</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpeg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>class</extension>
    <mime-type>application/x-java-vm</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jar</extension>
    <mime-type>application/x-java-archive</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ser</extension>
    <mime-type>application/x-java-serialized</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>exe</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>hdml</extension>
    <mime-type>text/x-hdml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>bmp</extension>
    <mime-type>image/bmp</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wml</extension>
    <mime-type>text/vnd.wap.wml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wmls</extension>
    <mime-type>text/vnd.wap.wmlscript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wmlc</extension>
    <mime-type>application/vnd.wap.wmlc</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wmlsc</extension>
    <mime-type>application/vnd.wap.wmlscript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wbmp</extension>
    <mime-type>image/vnd.wap.wbmp</mime-type>
  </mime-mapping>
</web-app>
